
body {
    background-color: rgb(225, 225, 225);
  }
  h1 {
    color: black;
  }
  h1 {
    font-family: cursive;
  }
  h2 {
    font-family: cursive;
  }
  p {
    color: black;
    font-family: cursive;
  }
