
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(227, 207, 207), #555151, #000000);
  }
h1 {
    color: black;
  }
h1 {
    font-family: cursive;
  }
h2 {
    font-family: cursive;
  }
p {
    color: black;
    font-family: cursive;
    text-align:center;
    font-size:30px;
  }

.Ülemine {
  text-align:center
}

.nupugrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
}

.kaardigrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  margin-top: 20px;
}

img {
  width:400px;
  height:auto;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; 
   

}

img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.vasak {
  padding:20px;
}

.kesk {
  padding:20px;
}

.parem {
  padding:20px;
}

.piltkesk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(41, 40, 40);
}