
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(227, 207, 207), #555151, #000000);
    background-attachment: fixed;
  }
h1 {
    color: black;
  }
h1 {
    font-family: cursive;
  }
h2 {
    font-family: cursive;
  }
p {
    color: black;
    font-family: cursive;
    text-align:center;
    font-size:30px;
  }

.Ülemine {
  text-align:center
}

.nupugrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2%;
}

.kaardigrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2%;
  margin-top: 2%;
}

img {
  width:400px;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; 
   

}

img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.vasak {
  padding:2%;
}

.kesk {
  padding:2%;
}

.parem {
  padding:2%;
}

.piltkesk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  box-shadow: 1em 1em 2em rgb(41, 40, 40);
  width: 100%;
  max-width: 100%;
  height:auto;
}